body {
    background-color: hsl(27, 66%, 92%);
    font-family: 'DM Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    .component {
        margin-top: 40px;
        width: 400px;
        .balance {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: hsl(10, 79%, 65%);
            padding: 10px 20px;
            border-radius: 20px;
            .info {
                p {
                    margin: 0 0 8px 0;
                    color: #ddd;
                    font-size: 14px;
                }
                span {
                    color: white;
                    font-size: 25px;
                }
            }
            img {
                width: 45px;
            }
        }
        .spending {
            background-color: #fff;
            border-radius: 20px;
            padding: 20px 20px 35px 20px;
            margin-top: 16px;
            h2 {
                margin: 0 0 10px 0;
                color: #111010;
            }
            .charts {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                height: 200px;
                margin-top: 35px;
                .chart {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: end;
                    height: 200px;
                    .progress {
                        display: block;
                        width: 38px;
                        background-color: hsl(10, 79%, 65%);
                        border-radius: 5px;
                        cursor: pointer;
                        transition: 0.3s;
                        &:hover {
                            background-color: hsla(10, 79%, 65%, 0.6);
                        }
                    }
                    .quantity {
                        background-color: black;
                        color: #fff;
                        padding: 8px 5px;
                        font-size: small;
                        margin-bottom: 5px;
                        border-radius: 5px;
                        font-size: 10px;
                    }
                    .day {
                        color: #aaa;
                        font-size: 14px;
                        padding-top: 6px;
                    }
                }
            }
            .line {
                display: block;
                width: calc(100% - 14px);
                height: 2px;
                background-color: #eee;
                margin: 20px 0 20px 7px;
            }
            .total {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                .left-side, 
                .right-side {
                    display: flex;
                    flex-direction: column;
                    .title {
                        color: #888;
                        font-size: 14px;
                    }
                }
                .right-side {
                    .percentage {
                        text-align: right;
                        font-weight: 700;
                        font-size: 14px;
                    }
                }
                .left-side {
                    .money {
                        font-size: 40px;
                        font-weight: 700;
                        margin-bottom: -9px;
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .component {
        width: 320px !important;
        margin: 30px 10px;
        .spending {
            .charts {
                .chart {
                    .progress {
                        width: 25px !important;
                    }
                }
            }
        }
    }
}